:root {
  --page: linen;
  
  --gray-1: #333;
  --gray-2: color-mix(in srgb, var(--gray-1) 65%, var(--page) 35%);
  --gray-3: color-mix(in srgb, var(--gray-1) 35%, var(--page) 65%);
  --gray-4: color-mix(in srgb, var(--gray-1) 10%, var(--page) 90%);

  --yellow-1: #FCB400;
  --yellow-2: color-mix(in srgb, var(--yellow-1) 65%, var(--page) 35%);
  --yellow-3: color-mix(in srgb, var(--yellow-1) 35%, var(--page) 65%);
  --yellow-4: color-mix(in srgb, var(--yellow-1) 10%, var(--page) 90%);
  
  --orange-1: #F7653B;
  --orange-2: color-mix(in srgb, var(--orange-1) 65%, var(--page) 35%);
  --orange-3: color-mix(in srgb, var(--orange-1) 35%, var(--page) 65%);
  --orange-4: color-mix(in srgb, var(--orange-1) 10%, var(--page) 90%);

  --red-1: #EF3161;
  --red-2: color-mix(in srgb, var(--red-1) 65%, var(--page) 35%);
  --red-3: color-mix(in srgb, var(--red-1) 35%, var(--page) 65%);
  --red-4: color-mix(in srgb, var(--red-1) 10%, var(--page) 90%);

  --pink-1: #E929BA;
  --pink-2: color-mix(in srgb, var(--pink-1) 65%, var(--page) 35%);
  --pink-3: color-mix(in srgb, var(--pink-1) 35%, var(--page) 65%);
  --pink-4: color-mix(in srgb, var(--pink-1) 10%, var(--page) 90%);

  --purple-1: #7B39ED;
  --purple-2: color-mix(in srgb, var(--purple-1) 65%, var(--page) 35%);
  --purple-3: color-mix(in srgb, var(--purple-1) 35%, var(--page) 65%);
  --purple-4: color-mix(in srgb, var(--purple-1) 10%, var(--page) 90%);
  
  --blue-1: #1283DB;
  --blue-2: color-mix(in srgb, var(--blue-1) 65%, var(--page) 35%);
  --blue-3: color-mix(in srgb, var(--blue-1) 35%, var(--page) 65%);
  --blue-4: color-mix(in srgb, var(--blue-1) 10%, var(--page) 90%);
  
  --teal-1: #05AAA4;
  --teal-2: color-mix(in srgb, var(--teal-1) 65%, var(--page) 35%);
  --teal-3: color-mix(in srgb, var(--teal-1) 35%, var(--page) 65%);
  --teal-4: color-mix(in srgb, var(--teal-1) 10%, var(--page) 90%);

  --cyan-1: #01A9DB;
  --cyan-2: color-mix(in srgb, var(--cyan-1) 65%, var(--page) 35%);
  --cyan-3: color-mix(in srgb, var(--cyan-1) 35%, var(--page) 65%);
  --cyan-4: color-mix(in srgb, var(--cyan-1) 10%, var(--page) 90%);
  
  --green-1: #11AF22;
  --green-2: color-mix(in srgb, var(--green-1) 65%, var(--page) 35%);
  --green-3: color-mix(in srgb, var(--green-1) 35%, var(--page) 65%);
  --green-4: color-mix(in srgb, var(--green-1) 10%, var(--page) 90%);
}

:root.scheme-dark {
  --page:  #111;
  --gray-1: #ccc;
}
:root.scheme-mode {
  --page: #222022;
  --gray-1: #ccc;
  --pink-1: #FF77B3;
  --purple-1: #a49fe3;
  --orange-1: #ff806c;
  --yellow-1: #daca77;
  --cyan-1: #75c3b3;
  --blue-1: #65dfff;
  --green-1: hsl(from var(--cyan-1) calc(h - 80) calc(s + 10) calc(l - 10));
}
:root.scheme-quiet {
  --page: linen;
  --gray-1: #222;
  --pink-1: color-mix(in srgb, pink 20%, var(--gray-1) 80%);
  --purple-1: color-mix(in srgb, violet 20%, var(--gray-1) 80%);
  --red-1: color-mix(in srgb, red 20%, var(--gray-1) 80%);
  --orange-1: color-mix(in srgb, orange 20%, var(--gray-1) 80%);
  --yellow-1: color-mix(in srgb, gold 20%, var(--gray-1) 80%);
  --blue-1: color-mix(in srgb, blue 50%, var(--gray-1) 50%);
  --green-1: color-mix(in srgb, green 50%, var(--gray-1) 50%);
  --teal-1: color-mix(in srgb, teal 50%, var(--gray-1) 50%);
  --cyan-1: color-mix(in srgb, cyan 20%, var(--gray-1) 80%);
}
:root.scheme-quiet-dark {
  --page: #222;
  --gray-1: #ccc;
  --pink-1: color-mix(in srgb, pink 20%, var(--gray-1) 80%);
  --purple-1: color-mix(in srgb, violet 20%, var(--gray-1) 80%);
  --red-1: color-mix(in srgb, red 20%, var(--gray-1) 80%);
  --orange-1: color-mix(in srgb, orange 20%, var(--gray-1) 80%);
  --yellow-1: color-mix(in srgb, gold 20%, var(--gray-1) 80%);
  --blue-1: color-mix(in srgb, dodgerblue 35%, var(--gray-1) 65%);
  --green-1: color-mix(in srgb, green 35%, var(--gray-1) 65%);
  --teal-1: color-mix(in srgb, teal 35%, var(--gray-1) 65%);
  --cyan-1: color-mix(in srgb, cyan 20%, var(--gray-1) 80%);
}
:root.scheme-lake {
  --page: #1A2C34;
  --gray-1: #7AA8B7;
  --blue-1: #62B1CB;
  --pink-1: #BBD7E1;
  --red-1: #739FAD;
  --green-1: #72A944;
  --orange-1: #3F91AC;
  --yellow-1: #FFEB66;
  --purple-1: #CBBB4D;
}
:root.scheme-pool {
  --page: #2A2433;
  --gray-1: color-mix(in srgb, #9A90A7, pink);
  --yellow-1: #FFB6B3;
  --orange-1: #F87972;
  --red-1: color-mix(in srgb, #F76DA5 80%, red 20%);
  --pink-1: #F76DA5;
  --purple-1: #9265D2;
  --blue-1: color-mix(in srgb, #9265D2 60%, dodgerblue 40%);
  --cyan-1: color-mix(in srgb, #9265D2 80%, aqua 20%);
  --teal-1: color-mix(in srgb, #9265D2 60%, teal 40%);
  --green-1: color-mix(in srgb, #FFB6B3 60%, green 40%);
}