@media (prefers-color-scheme: dark) {
  :root {
    --page: #222022;
    --gray-1: #ccc;
    /* --pink-1: #FF77B3;
    --purple-1: #a49fe3;
    --red-1: #ff806c;
    --yellow-1: #daca77;
    --cyan-1: #75c3b3;
    --blue-1: #65dfff;
    --green-1: hsl(from var(--cyan-1) calc(h - 80) calc(s + 10) calc(l - 10)); */
  }
}