:root {
  --page: linen;
  
  --gray-1: #333;
  --gray-2: color-mix(in srgb, var(--gray-1) 65%, var(--page) 35%);
  --gray-3: color-mix(in srgb, var(--gray-1) 35%, var(--page) 65%);
  --gray-4: color-mix(in srgb, var(--gray-1) 10%, var(--page) 90%);

  --yellow-1: #FCB400;
  --yellow-2: color-mix(in srgb, var(--yellow-1) 65%, var(--page) 35%);
  --yellow-3: color-mix(in srgb, var(--yellow-1) 35%, var(--page) 65%);
  --yellow-4: color-mix(in srgb, var(--yellow-1) 10%, var(--page) 90%);
  
  --orange-1: #F7653B;
  --orange-2: color-mix(in srgb, var(--orange-1) 65%, var(--page) 35%);
  --orange-3: color-mix(in srgb, var(--orange-1) 35%, var(--page) 65%);
  --orange-4: color-mix(in srgb, var(--orange-1) 10%, var(--page) 90%);

  --red-1: #EF3161;
  --red-2: color-mix(in srgb, var(--red-1) 65%, var(--page) 35%);
  --red-3: color-mix(in srgb, var(--red-1) 35%, var(--page) 65%);
  --red-4: color-mix(in srgb, var(--red-1) 10%, var(--page) 90%);

  --pink-1: #E929BA;
  --pink-2: color-mix(in srgb, var(--pink-1) 65%, var(--page) 35%);
  --pink-3: color-mix(in srgb, var(--pink-1) 35%, var(--page) 65%);
  --pink-4: color-mix(in srgb, var(--pink-1) 10%, var(--page) 90%);

  --purple-1: #7B39ED;
  --purple-2: color-mix(in srgb, var(--purple-1) 65%, var(--page) 35%);
  --purple-3: color-mix(in srgb, var(--purple-1) 35%, var(--page) 65%);
  --purple-4: color-mix(in srgb, var(--purple-1) 10%, var(--page) 90%);
  
  --blue-1: #1283DB;
  --blue-2: color-mix(in srgb, var(--blue-1) 65%, var(--page) 35%);
  --blue-3: color-mix(in srgb, var(--blue-1) 35%, var(--page) 65%);
  --blue-4: color-mix(in srgb, var(--blue-1) 10%, var(--page) 90%);
  
  --teal-1: #05AAA4;
  --teal-2: color-mix(in srgb, var(--teal-1) 65%, var(--page) 35%);
  --teal-3: color-mix(in srgb, var(--teal-1) 35%, var(--page) 65%);
  --teal-4: color-mix(in srgb, var(--teal-1) 10%, var(--page) 90%);

  --cyan-1: #01A9DB;
  --cyan-2: color-mix(in srgb, var(--cyan-1) 65%, var(--page) 35%);
  --cyan-3: color-mix(in srgb, var(--cyan-1) 35%, var(--page) 65%);
  --cyan-4: color-mix(in srgb, var(--cyan-1) 10%, var(--page) 90%);
  
  --green-1: #11AF22;
  --green-2: color-mix(in srgb, var(--green-1) 65%, var(--page) 35%);
  --green-3: color-mix(in srgb, var(--green-1) 35%, var(--page) 65%);
  --green-4: color-mix(in srgb, var(--green-1) 10%, var(--page) 90%);
}