@font-face {
  font-family: JetBrains;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: JetBrains;
  font-style: italic;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.4eem;
  font-weight: normal;
}

:root {
  font-family: JetBrains, Monaco, monospace;
  font-size: 13px;
  line-height: 1.4em;
  height: 100vh;
  --background : #aaa;
  --text: #060606;
  --line: rgb(from var(--text) r g b / 0.5);
  --bg25: rgb(from var(--text) r g b / 0.25);
  --bg50: rgb(from var(--text) r g b / 0.5);
  --bg10: rgb(from var(--text) r g b / 0.1);
  --red: orangered;
  --pink: hotpink;
  --orange: orange;
  --yellow: gold;
  --blue: teal;
  --green: olive;
  --purple: violet;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222022;
    --text: #DDA2EE;
    --pink: rebeccapurple;
  }
}

h1 {
/*   background: var(--text); */
/*   color: var(--background); */
  padding: 0 1em;
  border-bottom: 1px solid var(--line);
  border-right: 1px solid var(--line);
  margin-right: -1px;
  padding: 1rem;
}

*:focus {
  background: var(--purple);
  outline: none;
}

::selection {
  background-color: rgb(from var(--text) r g b / 0.125);
}

header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--line);
  & nav>span {
    margin-right: 1em;
  }
}

body {
  background: var(--background);
  color: var(--text);
  height: 100%;
  padding: 0 2rem 2rem 2rem;
}

.fill {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  flex-flow: row;
}
.col {
  flex-direction: column;
}

textarea {
  background: none;
  font-family: unset;
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1em;
  overflow: scroll;
  line-height: 1.3em;
  color: unset;
  border-left: 1px solid var(--line);
  caret-color: var(--text);
  caret-shape: bar;
  max-width: 120ch;
  border-right: 1px dotted var(--line);
  margin-right: -1px;
  &:focus {
    outline: none;
    background: none;
  }
}

.editor {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--line);
  border-right: 1px solid var(--line);
}

.sidebar {
  height: 100%;
  width: calc(100% / 3);
  max-width: 30ch;
  border-left: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  & li {
    list-style: none;
  }
  & h2 {
    background: var(--bg10);
  }
  a + h2 {
    margin-top: 1rem;
  }
  #links * {
    padding: 0rem 1rem;
  }
}
a {
  color: unset;
}
*[contenteditable="true"] {
  &:focus {
    outline: none;
  }
}
.note-link {
  display: block;
  &.selectd {
    background: var(--blue);
  }
}
.tag {
  background: var(--bg25);
  padding: 0.1em 0.5em;
  border-radius: 4px;
  margin: 0.5em;
  &.today {
    background: var(--bg10);
  }
}
.selected {
  background: var(--pink);
}