@import url(./colors.css);
@font-face {
  font-family: iAWriter;
  src: url('/fonts/iAWriterDuoS-Regular.woff2') format('woff2');
}
@font-face {
  font-family: iAWriter;
  font-style: italic;
  src: url('/fonts/iAWriterDuoS-Italic.woff2') format('woff2');
}
@font-face {
  font-family: iAWriter;
  font-weight: bold;
  src: url('/fonts/iAWriterDuoS-Bold.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: normal;
  &:focus {
    background-size: 0.5rem;
    background-position: 0.5rem 0.5rem;
    
    [contenteditable="true"] {
      border: 1px solid var(--gray-1);
    }
  }
}
:root {
  font-family: iAWriter, Monaco, monospace;
  font-size: 15px;
  line-height: 1.4em;
  height: 100vh;
  --line: var(--gray-4);
  --text: var(--gray-1);
  scrollbar-color: var(--gray-4) transparent;
  scrollbar-width: thin;
  --small: 0.875rem;
}
body {
  background: var(--page);
  color: var(--text);
  height: 100%;
  padding: 0.5rem;
  padding-top: 3rem;
}

::selection {
  background-color: var(--gray-4);
}

header {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  & * { font-size: var(--small); }

  & nav {
    display: inline flex;
    align-content: center;
  }

  & nav  a {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--line);
    color: var(--gray-3);
    transition: color 0.2s ease;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    
    & .tip {
      margin-right: 0.5rem;
    }
    
    & + div {
      margin-left: -1px;
    }

    &:hover {
      color: var(--gray-2);
    }
    
    &.active-tab {
      color: var(--gray-1);
      z-index: 1;
      box-shadow: 0 2px 0px var(--gray-2);
    }
  }
}

hr {
  border: none;
  border-bottom: 1px solid var(--line);
  margin: 0.5rem 0;
}

button {
  border: none;
  background: rgb(from var(--gray-4) r g b / 0.5);
  color: var(--text);
  cursor: pointer;
  padding: 0 0.5rem;
  border: 1px solid var(--line);
  display: inline-block;
  font-family: unset;
  text-align: left;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  
  &.search-button {
    width: 30ch;
    flex-shrink: 2;
  }
  & + button {
    margin-left: 1rem;
  }
}

a { 
  color: currentcolor;
  text-decoration-color: currentcolor;
}

.fill { width: 100%; height: 100%; }
.flex { display: flex; }
.between { justify-content: space-between; }
.col { flex-direction: column; }
.box { border: 1px solid var(--line); }
.bl { border-left: 1px solid var(--line); }
.bt { border-top: 1px solid var(--line); }
.bb { border-bottom: 1px solid var(--line); }
.br { border-right: 1px solid var(--line); }
.p100 {padding: 1rem;}
.p50 {padding: 0.5rem;}
.p25 {padding: 0.25rem;}
.p10 {padding: 0.1rem;}
.m100 {margin: 1rem;}
.m50 {margin: 0.5rem;}
.m25 {margin: 0.25rem;}
.m10 {margin: 0.1rem;}
.ch100 {max-width: 100ch;}
.sm { font-size: var(--small); }
.s200 { font-size: 2rem; }
.s300 { font-size: 3rem; }
.s400 { font-size: 4rem; }
.no-pointer { pointer-events: none; }
.pointer { pointer-events: all ;}
.hidden { display: none; }



.editor {
  flex-grow: 2;
  display: flex;
  flex-direction: column;

  #editor-title {
    padding-left: 1rem;
    font-weight: bold;
  }
}

.sidebar {
  background: rgb(from var(--gray-4) r g b / 0.25);
  width: calc(100% / 6);
  max-width: 220px;
  position: relative;
  color: var(--gray-3);
  display: flex;
  flex-direction: column;

  & li {
    padding: 0 1rem;
    color: var(--gray-2);
    list-style: none;
    
    & > a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  
  & h2 {
    border-bottom: 1px solid var(--line);
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--small);
  }
  
  & .file-selector {
    overflow-y: scroll;
    & + h2 {
      border-top: 1px solid var(--line);
    }
  }

  & li:has(.selected) {
    background: var(--gray-4);
    color: var(--gray-1);
    & * { font-weight: bold; }
  }
}

.meta {
  flex-shrink: 2;
  width: calc(100% / 4);
  max-width: 400px;
  color: var(--gray-3);
  background: var(--name);
  background: rgb(from var(--gray-4) r g b / 0.25);
  
  & h2 {
    border-bottom: 1px solid var(--line);
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--small);
  }
  
  div + h2 {
    border-top: 1px solid var(--line);
    margin-top: -1px;
  }
  
  #meta-links {
    overflow-y: scroll;
  }
}

*[contenteditable="true"] {
  &:focus {
    outline: 1px solid var(--gray-1);
    position: relative;
    z-index: 10;
  }
}

.note-link {
  display: block;
  text-decoration: none;
}

.tag {
  background: var(--yellow-4);
  color: var(--yellow-1);
  margin: 0.5em;
  padding: 0.125em 0.5em;
  border-radius: 4px;
  font-size: var(--small);
}

.link-card {
  display: block;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--blue-3);
  background: var(--blue-4);
  color: var(--blue-1);
  & a {
    text-decoration-color: var(--blue-1);
  }
  & div::before {
    content: "↗ ";
  }
}

.swatch {
  width: 20px;
  aspect-ratio: 1;
  margin: 1px;
  border-radius: 2px;
}

.textarea-plus {
  background: teal;
  &:has(*:focus){
    background: red;
  }
}

input {
  background: rgb(from var(--gray-4) r g b / 0.25);
  border: 1px solid var(--line);
  color: unset;
  font-family: unset;
  padding: 0.25rem 1rem;
  &:focus {
    outline: 2px solid var(--teal-1);
  }
}

#search {
  position: fixed;
  z-index: 10;
  width: clamp(33%, 400px, 600px);
  max-width: 100%;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--page);
  border-radius: 0.33rem;
  background: var(--gray-4);
  box-shadow: 0px 0px 10px #0003;
  border: 1px solid var(--gray-3);
  padding: 0.25rem;
  overflow-y: hidden;
  scrollbar-color: var(--gray-1) transparent;

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    outline-offset: -2px;
    margin-bottom: 2rem;
    background: var(--page);
  }

  & li {
    list-style: none;
    border-left: 4px solid var(--gray-4);
    margin-bottom: 2px;
  }

  .search-result {
    padding: 0rem 1rem;
    > * {
      text-decoration: none;
      color: var(--gray-2);
    }
  }
}

.tip {
  color: var(--purple-2);
  &::before{
    content: "[";
      color: var(--gray-3);
  }
  &::after{
    content: "]";
    color: var(--gray-3);
  }
}