* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  height: 100%;
  --coments: var(--bg10);
  --selection: rgb(from var(--text) r g b / 0.25);
  color: var(--text);
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  position: relative;
  overflow: hidden;
  line-height: 1em;
}

.source,
.display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height: unset;
}

.source {
  caret-color: var(--text);
  color: var(--text);
  caret-shape: underscore;
  background: transparent;
  resize: none;
  border: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  font-family: unset;
  color: teal;
}

.display {
  pointer-events: none;
  counter-reset: line-no 1;
}

.scroll-filler,
.display-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 1em;
}

.line {
  display: block;
  counter-increment: linenumcounter;
  white-space: pre-wrap;
  margin: 0;

  &.caret-line {
    outline: 1px dashed var(--gray-4);
    position: relative;

    &::after {
      position: absolute;
      height: 100%;
      left: -1rem;
      top: 0;
      content: ' ';
      width: 0.5rem;
      display: inline-block;
      background-color: var(--yellow);
    }

    &::before {
      background: var(--currentline);
    }
  }
}

.source::selection {
  background-color: rgb(from var(--teal) r g b / 0.25);
  color: unset;
}

.source:focus {
  outline: none;
  background: var(--focus);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
.h1 { color: var(--purple-dark); }
.h2 { color: var(--purple); }
.h3 { color: var(--purple-bright); }
.h4 { color: var(--pink-bright); }
.h5 { color: var(--pink); }
.h6 { color: var(--pink-light); }
.line {
  &:has(.h1) { background: var(--purple-fade); }
  &:has(.h2) {
    box-shadow: 0 -2px 0 var(--purple-light); 
  }
}

.todo-done {
  color: var(--gray-3);
  & .text {
    text-decoration: line-through;
  }
}
.todo-progress {
  color: var(--yellow-dark);
}

.list-item {
  & > .marker {
    color: var(--red);
  }
}
.link-text {
  color: var(--blue-bright);

  text-decoration: underline;
}
.link-url {
  color: var(--blue-light);
}
.code {
  color: var(--orange-dark);
  background: var(--orange-fade);
}
.ref {
  color: var(--green);
  outline: 1px solid var(--green-light);
  outline-offset: 1px;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
