* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  height: 100%;
  --coments: var(--gray-3);
  color: var(--text);
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  position: relative;
  overflow: hidden;
  line-height: 1em;
}

.source,
.display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height: unset;
}

.source {
  caret-color: var(--text);
  color: var(--text);
  background: transparent;
  resize: none;
  border: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  font-family: unset;
}

.display {
  pointer-events: none;
}

.scroll-filler,
.display-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 1em;
}

.line {
  display: block;
  counter-increment: linenumcounter;
  white-space: pre-wrap;
  margin: 0;

  &.caret-line {
    outline: 1px dashed var(--gray-3);
    position: relative;

    &::after {
      position: absolute;
      height: 100%;
      left: -1rem;
      top: 0;
      content: ' ';
      width: 0.5rem;
      display: inline-block;
      background-color: var(--gray-4);
    }

    &::before {
      background: var(--currentline);
    }
  }
}

.source::selection {
  background-color: rgb(from var(--gray-4) r g b / 0.5);
  color: unset;
}

.source:focus {
  outline: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: bold; }
.h1 { color: var(--pink-1); }
.h2 { color: var(--red-1); }
.h3 { color: var(--orange-1); }
.h4 { color: var(--yellow-1); }
.h5 { color: var(--teal-1); }
.h6 { color: var(--purple-1); }
.line {
  &:has(.h1) {
    box-shadow: 0 -2px 0 var(--gray-4);
    background: rgb(from var(--gray-4) r g b / 0.65); 
  }
  &:has(.h2) { 
    box-shadow: 0 -2px 0 var(--gray-4);
    background: rgb(from var(--gray-4) r g b / 0.25); 
  }
  &:has(.h3) { 
    box-shadow: 0 -2px 0 var(--gray-4);
  }
}

.todo-done {
  color: var(--gray-3);
  & .text {
    text-decoration: line-through;
  }
}

.todo-progress {
  color: var(--orange-1);
}

.list-item {
  & > .marker {
    color: var(--gray-2);
  }
}
.link-text {
  color: var(--blue-1);
  text-decoration: underline;
}
.link-url {
  color: var(--cyan-2);
}
.code {
  color: var(--gray-2);
  background: rgb(from var(--gray-4) r g b / 0.5);
}
.ref {
  color: var(--green-1);
  outline: 2px solid var(--green-4);
  outline-offset: 1px;
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
